.img{

margin-bottom: 50px;
    max-width: 100%;
    height: auto;

    width: 940px;
  

}
.presentation{
    background-color:#002857;
}
h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: white;
    unicode-bidi: isolate;
}
p{
    font-weight: bold; 
    unicode-bidi: isolate;
}